<div class="container">

<!--   <h1 class="graphics_title">Análisis de datos</h1> -->

  <div class="graphics">
    <div class="graphics_body_item" (click)="goAppointments()">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Citas recientes</h2>
      </div>
      <div class="graphics_body_item_body">
        Tuviste 10 citas en esta semana
        <span>
          <mat-icon>history</mat-icon>
        </span>
      </div>
    </div>
    <div class="graphics_body_item" (click)="goAppointments()">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Citas Próximas</h2>
      </div>
      <div class="graphics_body_item_body">
        Tienes 10 citas en esta semana
        <span>
          <mat-icon>
            calendar_month
          </mat-icon>
        </span>
      </div>
    </div>
    <div class="graphics_body_item" (click)="goAddAppointment()">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Nuevas citas</h2>
      </div>
      <div class="graphics_body_item_body">
        ¿Quieres agregar una cita?
        <span>
          <mat-icon>
            add_task
          </mat-icon>
        </span>
      </div>
    </div>
    <div class="graphics_body_item">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Mascotas</h2>
      </div>
      <div class="graphics_body_item_body">
        <ngx-charts-bar-vertical [view]="[400, 300]" [scheme]="colorScheme" [results]="barChartData" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="graphics_body_item">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Clientes</h2>
      </div>
      <div class="graphics_body_item_body">
        <ngx-charts-area-chart [view]="[400, 300]" [scheme]="colorScheme" [results]="areaChartData" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></ngx-charts-area-chart>


      </div>
    </div>
    <div class="graphics_body_item">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Citas</h2>
      </div>
      <div class="graphics_body_item_body">
        <ngx-charts-line-chart [view]="[400, 300]" [scheme]="colorScheme" [results]="lineChartData" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></ngx-charts-line-chart>

      </div>
    </div>
    <div class="graphics_body_item">
      <div class="graphics_body_item_header">
        <h2 class="graphics_body_item_title">Medicamentos</h2>
      </div>
      <div class="graphics_body_item_body">
        <ngx-charts-pie-chart class="chart" [view]="[550, 300]" [scheme]="colorScheme" [results]="pieChartData"
          [explodeSlices]="true" [doughnut]="false" [legend]="true"></ngx-charts-pie-chart>

      </div>
    </div>
  </div>
</div>