<div class="container">
    <div class="left">
        <div class="input-container">
            <mat-form-field class="input" appearance="outline" color="accent">
                <mat-label>Buscar</mat-label>
                <input matInput formControlName="search" placeholder="Buscar servicio médico">
            </mat-form-field>
            <button mat-raised-button class="button-search active">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <div class="products-section">
            <mat-accordion *ngIf="activeButton === 1" class="products-container">
                <div class="individual-panel" *ngFor="let product of products">
                    <mat-expansion-panel hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>{{ product.name }}</h3>
                            </mat-panel-title>
                            <mat-panel-description>
                                <p>{{ product.price | currency }}</p>
                                <mat-icon>category</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <img src="../../../assets/kira.jpeg" alt="product image">
                    </mat-expansion-panel>
                    <button mat-raised-button class="active" style="font-size: 1rem; height: 90%;margin: auto;">Agregar</button>
                </div>
            </mat-accordion>
        </div>
    </div>
    <div class="right">
        <div class="cart">
            <h2>Carrito</h2>
            <div class="cart-products">
                <div class="cart-product" *ngFor="let product of cart">
                    <p>{{ product.name }}</p>
                    <p class="price">{{ product.price | currency }}</p>
                    <button mat-raised-button>
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
            <div class="total">
                <p>Total:</p>
                <p>{{ total | currency }}</p>
            </div>
            <div class="payment">
                <button mat-raised-button class="payment-button"
                    [ngClass]="{'payment-button-active': activePaymentButton === 1}" (click)="activePaymentButton = 1">
                    <mat-icon>payments</mat-icon>
                    <span>Efectivo</span>
                </button>
                <button mat-raised-button class="payment-button"
                    [ngClass]="{'payment-button-active': activePaymentButton === 2}" (click)="activePaymentButton = 2">
                    <mat-icon>credit_card</mat-icon>
                    <span>Tarjeta</span>
                </button>
            </div>
            <button class="finally" mat-raised-button (click)="goToPayment()">Ir al pago</button>
        </div>
    </div>
</div>