<div class="nav-container">
    <div class="nav-logo">
        <button class="btnToggle" (click)="toggleSideBar()">
            <div class="button-burguer">
                <div [ngClass]="!showNavbar ? 'burguer1' : 'burguer1-active'"></div>
                <div [ngClass]="!showNavbar ? 'burguer2' : 'burguer2-active'"></div>
                <div [ngClass]="!showNavbar ? 'burguer3' : 'burguer3-active'"></div>
            </div>
        </button>
    </div>
    <div class="nav-buttons">
        <h2 class="nav-title">Veterinaria</h2>
    </div>
</div>