<div class="container">
    <div class="form">
        <h1 class="title">Agregar medicamento</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="medicineForm">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input class="input" type="text" id="name" name="name" formControlName="name" placeholder="Nombre"
                    required>
                <mat-error *ngIf="medicineForm.get('name')?.touched && medicineForm.get('name')?.errors?.['required']">El
                    nombre es requerido</mat-error>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea class="input" id="description" name="description" formControlName="description"
                    placeholder="Descripción" required></textarea>
                <mat-error
                    *ngIf="medicineForm.get('description')?.touched && medicineForm.get('description')?.errors?.['required']">La
                    descripción es requerida</mat-error>
            </div>
            <div class="form-group">
                <label for="fabricator">Fabricante</label>
                <input class="input" type="text" id="fabricator" name="fabricator" formControlName="fabricator"
                    placeholder="Fabricante" required>
                <mat-error
                    *ngIf="medicineForm.get('fabricator')?.touched && medicineForm.get('fabricator')?.errors?.['required']">El
                    fabricante es requerido</mat-error>
            </div>
            <div class="form-group">
                <label for="type">Tipo</label>
                <mat-select class="input" id="type" placeholder="Selecciona un tipo" name="type" formControlName="type"
                    required>
                    <mat-option value="Tableta">Tableta</mat-option>
                    <mat-option value="Cápsula">Cápsula</mat-option>
                    <mat-option value="Jarabe">Jarabe</mat-option>
                    <mat-option value="Inyección">Inyección</mat-option>
                    <mat-option value="Pomada">Pomada</mat-option>
                    <mat-option value="Otro">Otro</mat-option>
                </mat-select>
                <mat-error *ngIf="medicineForm.get('type')?.touched && medicineForm.get('type')?.errors?.['required']">El
                    tipo es
                    requerido</mat-error>
            </div>

            <!-- ... Otros campos ... -->
            <div class="btnContainer">
                <button [disabled]="!medicineForm.valid"
                    [ngClass]="{'btnSubmit': medicineForm.valid, 'btnDisabled': !medicineForm.valid}" type="submit">Agregar
                    medicamento</button>
            </div>
        </form>
    </div>
</div>