<div class="container">
    <div class="info">
        <div class="client">
            <div class="text">
                <h1>Detalles Cliente</h1>
                <div class="data">
                    <h2>{{ user.name }} {{ user.lastName }}</h2>
                    <h2><span></span>{{ user.email }}</h2>
                    <h2><span></span>{{ user.phone }}</h2>
                    <h2><span></span>{{ user.city }} {{ user.municipality }} {{ user.number }}</h2>
                    <h2><span>Registrad@ el </span>{{ user.createdAt }}</h2>
                </div>
            </div>
            <div class="buttons">
                <button mat-raised-button class="update" (click)="openEditDialog()">
                    <span>Editar</span>
                    <mat-icon>edit_note</mat-icon>
                </button>
                <button mat-raised-button class="delete" color="warn" (click)="deleteClient()">
                    <span>Eliminar</span>
                    <mat-icon class="mat-icon-delete">person_remove</mat-icon>
                </button>
            </div>
        </div>

        <div class="table-container">

            <h4 *ngIf="pets.length === 0">{{ user.name }} no tiene mascotas registradas</h4>
            <table mat-table [dataSource]="pets" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let pet"> {{ pet.name }} </td>
                </ng-container>

                <ng-container matColumnDef="specie">
                    <th mat-header-cell *matHeaderCellDef> Especie </th>
                    <td mat-cell *matCellDef="let pet"> {{ pet.specie }} </td>
                </ng-container>

                <ng-container matColumnDef="race">
                    <th mat-header-cell *matHeaderCellDef> Raza </th>
                    <td mat-cell *matCellDef="let pet"> {{ pet.race }} </td>
                </ng-container>

                <ng-container matColumnDef="onRegister">
                    <th mat-header-cell *matHeaderCellDef> Fecha de registro </th>
                    <td mat-cell *matCellDef="let pet"> {{ pet.onRegister }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button class="btnPet newPet" (click)="goCreatePet()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let pet">
                        <button mat-icon-button class="btnPet" (click)="deletePet(pet, $event)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Encabezados de la tabla -->
                <tr mat-header-row *matHeaderRowDef="['name', 'specie', 'race', 'onRegister', 'actions']"></tr>

                <!-- Filas de la tabla -->
                <tr mat-row *matRowDef="let pet; columns: ['name', 'specie', 'race', 'onRegister', 'actions']"
                    (click)="goEditPet(pet)"></tr>
            </table>
        </div>
        <div class="facture">
            <h1>Historial de Facturación</h1>
            <div class="content">

                <div class="summary">
                    <h2>Algo</h2>
                </div>
                <div class="text lists">

                    <div class="container-lists">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Consultas
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">inventory</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <span>Data</span>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Consultas
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">clinical_notes</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <span>Data</span>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>