.container {
    width: 100%;
    scroll-behavior: smooth;
    
}

.info {
    padding-bottom: 3rem;
}

.space {
    height: 2rem;
}

.client, .facture {
    margin: auto;
    margin-top: 3rem;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.data > h2 {
    flex: 0 0 calc(33.333% - 1rem); /* Calcula el ancho para tres elementos en una fila */
    margin: 0 .4rem 1rem .4rem; /* Espaciado entre filas */
    box-sizing: border-box; /* Incluye el padding en el ancho del elemento */
    line-height: 3rem;
    border: 2px solid #05828e;
    border-radius: 10px 100px / 120px;
}


.client-form {
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 2rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.client-form input {
    padding: .5rem 2rem;
    width: 50%;
    font-size: 20px;
    margin-top: .5rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #162229;
    /*2e82d7*/
}

.text span {
    font-weight: 550;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.buttons button {
    width: 22%;
    margin: 0 2rem;
    height: 20%;
    padding: .6rem 0.3rem;
    border-radius: 5px;
    color: #162229;
    border: 1px solid #162229;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;
}

.buttons button mat-icon {
    color: #162229;
}

.delete:hover {
    background-color: #fff !important;
    color: #ff0000 !important;
    border: 1px solid #ff0000 !important;
}

.delete:hover mat-icon {
    color: #ff0000 !important;
}

.update:hover {
    background-color: #fff !important;
    color: rgb(190, 146, 0) !important;
    border: 1px solid rgb(190, 146, 0) !important;
}

.update:hover mat-icon {
    color: rgb(190, 146, 0) !important;
}

.red, .red mat-icon {
    color: #f00 !important;
}

.red:hover {
    background-color: #fff !important;
    color: #f00 !important;
    border: 1px solid #f00 !important;
}

.red:hover mat-icon {
    color: #f00 !important;
}

.green, .green mat-icon {
    color: #0f0 !important;
}

.green:hover {
    background-color: #fff !important;
    color: #0f0 !important;
    border: 1px solid #0f0 !important;
}

.green:hover mat-icon {
    color: #0f0 !important;
}

.nopets {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 1rem 0;
    text-align: center;
}

.pets-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 2rem !important;
}

.pet-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 !important;
}

.text {
    grid-column: span 4;
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}

.text > * {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 1rem;
    border-bottom: 2px solid #162229;
}

.photo {
    width: 50%;
    border-left: 8px double #2e82d7;
    overflow: hidden;
}


.pet {
    margin-bottom: 2rem;
    width: 30%;
    margin: auto;
    transition: all 0.5s ease-in-out;
    justify-content: center;
}

.pet-touched {
    width: 80%;
    margin: 2rem auto !important;
    transition: all 0.5s ease-in-out;
    justify-content: space-between;
}

.pet:hover {
    box-shadow: 1px 3px 10px 0 #162229;
}

.buttons-pets {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.btnPet {
    margin: auto;
    width: 50% !important;
    margin-top: 1rem;
}

.addPet {
    display: block;
    margin: auto;
    width: 50% !important;
    margin-bottom: 1rem;
}


.table-container {
    margin: auto;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    overflow-x: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.table-container h4 {
    margin: 0;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 300;
    color: #000;
    font-family: serif;
}

.dialog {
    z-index: 1;
}

.table-container h3 {
    margin: 0;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 300;
    color: #000;
    font-family: serif;
}

mat-icon {
    color: #162229;
    font-size: 2rem !important;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.mat-icon-delete {
    color: #ff0000;
}

.btnPet {
    margin: 0;
    width: 100%;
}

.btnPet mat-icon {
    font-size: 28px;
}

.facture h1 {
    text-align: center;
    line-height: 2rem;
    padding: 1rem;
    margin-bottom: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.summary {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sep {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.sep h2 {
    font-size: 22px;
}

.sep p {
    width: 50%;
    text-align: left;
    font-size: 16px;
}

.p {
    text-align: center !important;
}

.sep button {
    height: 3.5rem !important;
}

.excel {
    border: 1px solid #0f0 !important;
}

.pdf {
    border: 1px solid #f00 !important;
}

.summary > h2 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: thin solid #162229;
}

.example-action-buttons button {
    margin: 0 1rem;
    opacity: .8;
}

.expandButton {
    background-color: #162229 !important; 
    color: #fff !important;
}

.collapsedButton {
    background-color: #ff0000 !important;
    color: #fff !important;
}

.lists {
    width: 100%;
    height: 100%;
}

.table-bills {
    width: 100%;
}

.icon-pet {
    padding-left: 0;
}

@media (max-width: 768px) {
    .client {
        flex-direction: column;
    }

    .client>* {
        flex-basis: 100%;
        /* Puedes ajustar el padding para dar un poco de espacio entre los elementos */
        padding: 10px 0;
    }

    .buttons {
        margin-top: 1.5rem;
    }

    .client-form input {
        width: 80%;
    }
}

@media (max-width: 820px) {
    table {
        min-width: 400px;
    }
    .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .buttons button {
        width: 80%;
        margin-bottom: 1rem;
    }
}