<div class="add-diagnosis-container">
    <h2>Agregar Diagnóstico</h2>
    <form (ngSubmit)="submitForm()" [formGroup]="prescriptionForm">
        <div class="container-prescription">

            <!-- <div class="form-group">
                <label for="reason">Síntomas:</label>
                <input type="text" id="reason" name="reason" formControlName="symptom" (keyup.enter)="addSymptom($event)"
                required placeholder="Haz enter para agregar un síntoma...">
        </div> -->
            <div class="form-group">
                <label for="symptom">Síntomas:</label>
                <select id="symptom" name="symptom" formControlName="symptom" required (change)="addSymptom($event)">
                    <option value="" disabled selected>Selecciona los síntomas...</option>
                    <option *ngFor="let option of symptomOptions" [value]="option">{{ option }}</option>
                </select>
            </div>

            <div class="form-group symptom-checkboxes">
                <h2 *ngIf="symptoms.length === 0">Aún no has agregado síntomas</h2>
                <div *ngFor="let symptom of symptoms">
                    <mat-icon class="remove" (click)="removeSymptom(symptom)">close</mat-icon>
                    <label class="label" [for]="symptom">{{ symptom }}</label>
                </div>
            </div>
            <div class="form-group">
                <label for="diagnosis">Diagnóstico:</label>
                <input type="text" id="diagnosis" name="diagnosis" formControlName="diagnosis" required
                    placeholder="Diagnóstico...">
            </div>
            <div class="form-group">
                <label for="observations">Recomendaciones:</label>
                <input type="text" id="observations" name="observations" formControlName="observations" required
                    placeholder="Recomendaciones...">
            </div>
            <div class="form-group">
                <label for="status">Estatus:</label>
                <select id="status" name="status" formControlName="status" required>
                    <option value="" disabled selected>Selecciona un estatus...</option>
                    <option value="En tratamiento">En tratamiento</option>
                    <option value="Recuperado">Recuperado</option>
                    <option value="Sin cambios">Sin cambios</option>
                </select>
            </div>
            <div class="form-group">
                <label for="doctor">Médico:</label>
                <select id="doctor" name="doctor" formControlName="doctor" required>
                    <option value="" disabled selected>Selecciona un médico...</option>
                    <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}</option>
                </select>
            </div>
        </div>
        <div class="container-medicines" [formGroup]="medicineForm">
            <h2>Agregar medicamento</h2>
            <div class="form-group">
                <select formControlName="medicine" name="medicines" required>
                    <option value="" disabled selected>Selecciona una medicina...</option>
                    <option *ngFor="let medicine of medicines" [value]="medicine.id">
                        {{ medicine.name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="dose" name="dose" formControlName="dose" required placeholder="Ingresa la dosis">
            </div>
            <div class="form-group">
                <select id="via" name="via" formControlName="via" required>
                    <option value="" disabled selected>Selecciona una via...</option>
                    <option value="Oral">Oral</option>
                    <option value="Sublingual">Sublingual</option>
                    <option value="Buccal">Buccal</option>
                    <option value="Rectal">Rectal</option>
                    <option value="Intravenosa">Intravenosa</option>
                    <option value="Intramuscular">Intramuscular</option>
                    <option value="Subcutánea">Subcutánea</option>
                    <option value="Intradérmica">Intradérmica</option>
                    <option value="Inhalatoria">Inhalatoria</option>
                    <option value="Tópica">Tópica</option>
                    <option value="Oftálmica">Oftálmica</option>
                    <option value="Ótica">Ótica</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="interval" name="interval" formControlName="interval" required
                    placeholder="Ingresa el intérvalo">
            </div>
            <button type="button" class="addMedicine" (click)="medicinesForm()">Agregar medicamento</button>
            <div class="addedMedicines" *ngIf="listMedicines.length > 0">
                <span>Medicinas añadidas</span>
                <div class="medicine" *ngFor="let medicine of listMedicines">
                    <p>{{ medicine.medicine.name }}</p>
                    <p>Dosis: {{ medicine.dose }}</p>
                    <p>Via: {{ medicine.via }}</p>
                    <p>Intervalo: {{ medicine.interval }}</p>
                </div>
            </div>
        </div>

    </form>
    <button class="add" (click)="submitForm()">Agregar Diagnóstico</button>
</div>