<div class="container">
  <div class="info" *ngIf="showInfo">
    <div class="buttons-pet">

      <button mat-icon-button (click)="openEditDialog()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deletePet(pet.id)">
        <mat-icon class="deleteIcon">delete_forever</mat-icon>
      </button>
    </div>
    <h1>Nombre: {{ pet.name }}</h1>
    <h2>Sexo: {{ pet.sex }}</h2>
    <h3>Fecha de nacimiento: {{ pet.birthdate }}</h3>
    <h4>Especie: {{ pet.specie }}</h4>
    <h4>Raza: {{ pet.race }}</h4>
    <h4>Tamaño: {{ pet.weight }} kg</h4>
  </div>
  
  <div class="table-container">
    <div class="medic">
      <mat-icon>medical_services</mat-icon>
      <p>Historial Médico</p>
    </div>
    <h5>Diagnósticos</h5>
    <h3 *ngIf="prescriptions.length === 0">
      {{ pet.name }} aun no tiene diagnósticos</h3>
    <!-- Aquí va tu tabla de Angular Material -->
    <table mat-table [dataSource]="prescriptions" class="mat-elevation-z8">
      <!-- Columnas de la tabla -->
      <ng-container matColumnDef="symtomps">
        <th mat-header-cell *matHeaderCellDef> Síntomas </th>
        <td mat-cell *matCellDef="let prescription"> {{ prescription.symtomps }} </td>
      </ng-container>

      <ng-container matColumnDef="diagnosis">
        <th mat-header-cell *matHeaderCellDef> Diagnóstico </th>
        <td mat-cell *matCellDef="let prescription"> {{ prescription.diagnosis }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Estatus </th>
        <td mat-cell *matCellDef="let prescription"> {{ prescription.status }} </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
        <td mat-cell *matCellDef="let prescription"> {{ prescription.creationDate }} </td>
      </ng-container>

      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef> Doctor </th>
        <td mat-cell *matCellDef="let prescription"> {{ prescription.doctors[0].name }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button class="btnAdd" mat-icon-button (click)="addPrescription()">
            <mat-icon class="add">library_add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let prescription">
          <!-- Botones para editar o eliminar el historial médico -->
          <button mat-icon-button (click)="deletePrescription(prescription.id, $event)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Define más columnas aquí para mostrar otras propiedades del historial médico -->

      <!-- Encabezados de la tabla -->
      <tr mat-header-row *matHeaderRowDef="['symtomps', 'diagnosis', 'status', 'creationDate', 'doctor', 'actions']"></tr>

      <!-- Filas de la tabla -->
      <tr mat-row *matRowDef="let prescription; columns: ['symtomps', 'diagnosis', 'status', 'creationDate', 'doctor', 'actions']"
        (click)="onClickRow(prescription)"></tr>
    </table>

  </div>

</div>