<div class="container">
    <div class="graphics">
      <div class="graphics_body_item">
        <div class="graphics_body_item_header">
          <div class="buttons-container">
            <button mat-raised-button [ngClass]="{'active': activeButton === 1}" (click)="activeButton = 1">Citas de hoy</button>
            <button mat-raised-button [ngClass]="{'active': activeButton === 2}" (click)="activeButton = 2">Citas de mañana</button>
            <button mat-raised-button [ngClass]="{'active': activeButton === 3}" (click)="activeButton = 3">Citas de la semana</button>
        </div>
        </div>
        <div class="panel-not div" *ngIf="appointmentsToday.length === 0"><span>No hay citas programadas para hoy</span>
        </div>
        <div class="graphics_body_item_body">
          <mat-accordion class="accordion" [multi]="false">
            <div class="list">
              <div *ngFor="let appointment of appointmentsToday; let isFirst = first as isFirst; let i = index">
                <mat-expansion-panel class="panel" [expanded]="isFirst">
                  <mat-expansion-panel-header class="header-panel">
                    <mat-panel-title class="panel-title">
                      <span>{{ appointment.user }}</span>
                      <span>{{ appointment.date | date: 'shortTime' }}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-panel-description class="panel-description" (click)="goAppointments(appointment)">
                    <span class="span-description"><b>Mascota:</b> {{ appointment.pet }}</span>
                    <span class="span-description"><b>Médico:</b> {{ appointment.doctor }}</span>
                    <span class="span-description"><b>Servicio:</b> {{ appointment.service }}</span>
                  </mat-panel-description>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>