@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.8rem;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 2rem auto 1rem auto;
}

.buttons-container button {
  border-radius: 10rem;
  padding: 1rem 2rem;
  height: 3rem;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.active {
  background-color: #05828e !important;
  color: white !important;
}

.graphics {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  margin: 1rem 0;
}

.graphics_body_item {
  height: 100%;
  min-width: 90vw;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.graphics_body_item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.graphics_body_item_body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.accordion {
  max-height: 60vh;
  overflow-y: auto;
}

.toTop {
  margin-top: -7rem;
}

.dNone {
  display: none;
}

.list {
  width: 100%;
}

.panel {
  margin: 1rem;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.header-panel, .header-panel:focus {
  background-color: #05828e;
  transition: all 0.1s ease-in-out;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header-panel:hover {
  background-color: white;
  border-bottom: 3px solid #05828e;
}

.header-panel:hover .panel-title {
  color: #05828e;
}

.panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.panel-description {
  padding: 1rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.span-description {
  font-size: 1.1rem;
  color: #05828e;
}