<div class="table-container">
    <div class="mat-table">
        <div class="top-container">
            <span class="title">Facturas</span>
            <form class="search" [formGroup]="searchForm" (ngSubmit)="searchBill()">
                <mat-form-field class="input" appearance="outline" color="accent">
                    <mat-label>Buscar facturas</mat-label>
                    <input matInput formControlName="search" placeholder="Buscar facturas">
                </mat-form-field>
                <mat-form-field class="select" appearance="outline" color="accent">
                    <mat-select formControlName="option">
                        <mat-option value="paymentMethod" selected>Método de pago</mat-option>
                        <mat-option value="status">Estado</mat-option>
                        <mat-option value="username">Cliente</mat-option>
                    </mat-select>
                  </mat-form-field>
                <div class="buttons">
                    <button mat-raised-button type="submit" color="primary" [disabled]="isSearchDisabled()"
                        [ngClass]="isSearchDisabled() ? 'disabled' : 'submit'">Buscar facturas</button>
                    <button mat-raised-button color="warn" [disabled]="isSearchDisabled()"
                        class="reset" type="reset" (click)="resetForm()">Limpiar</button>
                </div>
            </form>
        </div>
        <div class="table-pag">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z24">

                <!-- Columna Username -->
                <ng-container matColumnDef="concept">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="header-content">
                            <span>Concepto</span>
                            <mat-icon class="sort-icon" (click)="sortData('concept')">unfold_more</mat-icon>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let bill">{{ bill.concept }}</td>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="header-content">
                            <span>Fecha de creación</span>
                            <mat-icon class="sort-icon" (click)="sortData('createdAt')">unfold_more</mat-icon>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let bill">{{ bill.createdAt | date: 'dd/MM/yyyy' }}</td>
                </ng-container>
                <ng-container matColumnDef="paymentMethod">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="header-content">
                            <span>Método de pago</span>
                            <mat-icon class="sort-icon" (click)="sortData('paymentMethod')">unfold_more</mat-icon>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let bill">{{ bill.paymentMethod }}</td>
                </ng-container>

                <ng-container matColumnDef="paymentStatus">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="header-content">
                            <span>Estado</span>
                            <mat-icon class="sort-icon" (click)="sortData('paymentStatus')">unfold_more</mat-icon>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let bill">{{ bill.paymentStatus }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="mat-paginator" (page)="pageEvent($event)" [pageSize]="5"
                [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>