.table-container {
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
}

.table-pag {
    width: 90%;
    margin: auto;
    overflow-x: auto;
}

.mat-table {
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.table-pag {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title {
    text-align: right;
    font-size: 3rem;
    color: #000;
    font-weight: lighter !important;
}

.search {
    margin: 2rem auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.input {
    grid-column: span 3;
}

.select {
    grid-column: span 1;
}

.buttons {
    grid-column: span 4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0;
}

.submit,
.reset,
.disabled {
    width: 24%;
    height: 3.2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

mat-icon {
    cursor: pointer;
    font-size: 2rem;
    padding: .3rem;
}

.newClient {
    padding-right: .6rem;
}

.icon {
    font-size: 1.6rem;
    display: inline-block;
    color: #0060b0;
}

.icon:hover {
    color: #fff;
}

.icon:last-child {
    color: #dc3545;
}

.edit {
    color: #0060b0;
    font-size: 1.6rem;
}

@media (max-width: 825px) {
    .search input {
        grid-column: span 2;
    }

    .buttons {
        flex-direction: column;
    }

    .submit,
    .reset,
    .disabled {
        width: 100%;
    }
}

@media (max-width: 630px) {
    .table-pag {
        width: 100%;
    }
}

@media (width < 430px) {
    .mat-table {
        height: auto;
    }

    .title {}
}