@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.8rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.buttons-container, .input-container, .products-container {
    /* border-top: 1px solid #05828e; */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1.5rem;
}

.input-container {
    margin-top: 2rem;
    justify-content: center;
}

button {
    border-radius: 10rem;
    padding: 1rem 2rem;
    height: 3rem;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.active {
    background-color: #05828e !important;
    color: white !important;
}

.input {
    width: 90%;
    border-radius: 10rem !important;
}

.products-container {
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 1rem 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: default;
    transition: all 0.3s ease-in-out;
}

.product:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

img {
    width: auto;
    height: 10rem;
    object-fit: cover;
    border-radius: 10px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin-left: 2rem;
}

.product-info button {
    margin-bottom: .5rem;
    margin-right: .5rem;
    font-size: 1rem;
    background-color: #05828e;
    color: white;
}

.product-info h3 {
    font-size: 1.5rem;
}

.product-info p {
    font-size: 1.2rem;
}