/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  overflow: hidden;
}

* {
  scrollbar-color: #05828e #f1f1f1;
  scrollbar-width: auto;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
th,
td,
button,
mat-input {
  font-family: 'Lato', "Helvetica Neue", sans-serif !important;
}

input,
th,
td {
  font-weight: 400 !important;
}

body {
  margin: 0;
  font-family: 'Dosis', "Helvetica Neue", sans-serif !important;
  background-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

label,
mat-error {
  font-weight: 400 !important;
}

table,
th,
td {
  background-color: transparent;
  text-align: center !important;
}

th {
  color: #000 !important;
  border-bottom: 2px solid #05828e !important;
}

th mat-icon {
  color: #05828e !important;
}

table {
  border: 2px solid #05828e !important;
  min-width: 600px;
  width: 100%;
}

tr.mat-mdc-row:hover {
  background-color: #05828e !important;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #e7eaef !important;
}

tr.mat-mdc-row:hover td {
  color: #fff;
}

tr.mat-mdc-row:hover mat-icon {
  color: #fff;
}

.mat-column-actions,
.mat-header-cell:last-child {
  width: 3% !important;
}

.mat-paginator {
  min-width: 600px;
  border: 2px solid #05828e;
  border-top: none !important;
  color: #000 !important;
  font-weight: 500 !important;
}