<app-navbar></app-navbar>
<mat-drawer-container class="container">
    <mat-drawer class="side-container" mode="side" [opened]="isDrawerOpen">
        <mat-button-toggle-group class="toggle-group" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (click)="close('')" class="buttonSide" value="Dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('client')" class="buttonSide" value="Client">
                <mat-icon>group</mat-icon>
                <span>Clientes</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('pets')" class="buttonSide" value="underline">
                <mat-icon>pets</mat-icon>
                <span>Mascotas</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('')" class="buttonSide" value="underline">
                <mat-icon>event</mat-icon>
                <span>Citas</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('')" class="buttonSide" value="Dashboard">
                <mat-icon>shopping_cart</mat-icon>
                <span>Productos</span>
            </mat-button-toggle>
            <mat-button-toggle (click)="close('')" class="buttonSide" value="Dashboard">
                <mat-icon>healing</mat-icon>
                <span>Servicios</span>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="showEmployees" (click)="close('')" class="buttonSide" value="Dashboard">
                <mat-icon>badge</mat-icon>
                <span>Empleados</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </mat-drawer>
    <mat-drawer-content class="mat-drawer-content">
        <router-outlet>
            <div [ngClass]="{'progress-container': isLoading, 'progress-container-hidden': !isLoading}">
                <mat-progress-spinner class="spinner" mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
            </div>
        </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>