<app-navbar></app-navbar>
<mat-drawer-container class="container">
    <mat-drawer class="side-container" mode="side" [opened]="isDrawerOpen">
        <mat-accordion>
            <mat-button-toggle-group class="toggle-group" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle (click)="close('')" class="buttonSide" value="Dashboard">
                    <mat-icon class="material-icons-outlined">home</mat-icon>
                    <span>Inicio</span>
                </mat-button-toggle>
                <mat-expansion-panel class="buttonAcc">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="material-icons-outlined">description</mat-icon>
                            <span>Registros</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-button-toggle (click)="close('client')" class="buttonSide" value="Client">
                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">group</mat-icon>
                        <span style="font-size: 20px;">Clientes</span>
                    </mat-button-toggle>
                    <mat-button-toggle style="font-size: 24px;" (click)="close('pets')" class="buttonSide"
                        value="underline">
                        <mat-icon style="font-size: 20px;" class="material-icons-outlined">pets</mat-icon>
                        <span>Mascotas</span>
                    </mat-button-toggle>
                </mat-expansion-panel>
                <mat-expansion-panel class="buttonAcc">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="material-icons-outlined">event</mat-icon>
                            <span>Citas</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-button-toggle style="font-size: 24px;" (click)="close('appointments')" class="buttonSide"
                        value="underline">
                        <mat-icon style="font-size: 20px;" class="material-icons-outlined">alarm_add</mat-icon>
                        <span>Registrar cita</span>
                    </mat-button-toggle>
                    <mat-button-toggle (click)="close('appointments')" class="buttonSide" value="underline">
                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">history</mat-icon>
                        <span style="font-size: 20px;">Historial de citas</span>
                    </mat-button-toggle>
                </mat-expansion-panel>
                <mat-expansion-panel class="buttonAcc">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="material-icons-outlined">inventory</mat-icon>
                            <span>Inventario</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-button-toggle (click)="close('doctors')" class="buttonSide" value="Client">
                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">inventory_2</mat-icon>
                        <span style="font-size: 20px;">Administrar productos</span>
                    </mat-button-toggle>
                    <mat-button-toggle (click)="close('doctors')" class="buttonSide" value="Client">
                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">add_circle_outline</mat-icon>
                        <span style="font-size: 20px;">Registrar producto</span>
                    </mat-button-toggle>
                </mat-expansion-panel>
                <mat-expansion-panel class="buttonAcc">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="material-icons-outlined">manage_accounts</mat-icon>
                            <span>Administración</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-button-toggle (click)="close('employees')" class="buttonSide" value="Client">
                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">manage_accounts</mat-icon>
                        <span style="font-size: 20px;">Registrar trabajador</span>
                    </mat-button-toggle>
                    <mat-button-toggle (click)="close('employees')" class="buttonSide" value="Client">
                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">toggle_on</mat-icon>
                        <span style="font-size: 20px;">Cambiar permisos</span>
                    </mat-button-toggle>
                </mat-expansion-panel>
                <mat-expansion-panel class="buttonAcc">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="material-icons-outlined">credit_card</mat-icon>
                            <span>Facturación</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-button-toggle (click)="close('employees')" class="buttonSide" value="Client">
                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">receipt_long</mat-icon>
                        <span style="font-size: 20px;">Facturas</span>
                    </mat-button-toggle>
                    <mat-button-toggle (click)="close('employees')" class="buttonSide" value="Client">
                        <mat-icon style="font-size: 24px;" class="material-icons-outlined">receipt</mat-icon>
                        <span style="font-size: 20px;">Registrar factura</span>
                    </mat-button-toggle>
                </mat-expansion-panel>
                <mat-button-toggle *ngIf="showEmployees" (click)="close('employees')" class="buttonSide"
                    value="Dashboard">
                    <mat-icon class="material-icons-outlined">badge</mat-icon>
                    <span>Empleados</span>
                </mat-button-toggle>
                <mat-button-toggle (click)="logout()" class="buttonSide" value="Dashboard">
                    <mat-icon class="material-icons-outlined">logout</mat-icon>
                    <span>Cerrar Sesión</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content class="mat-drawer-content">
        <router-outlet>
            <div [ngClass]="{
          'progress-container': isLoading,
          'progress-container-hidden': !isLoading
        }">
                <mat-progress-spinner class="spinner" diameter="120" mode="indeterminate" color="primary"
                    *ngIf="isLoading"></mat-progress-spinner>
            </div>
        </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>